---
import ArticleComponent from '../components/articleComponent.astro'
const title = "Tirop's Angels"
---

<ArticleComponent content={title}>
    <h2>Ross Toping templates</h2>
    <p><a href="https://templates.digizu.co.uk/">Preview on-line</a></p>
</ArticleComponent>