	<main>
		<aside id="grid-left">
			<nav aria-labelledby="grid-left">Aside navigation in grid-left</nav>
		</aside>
		<div id="grid-main">
			<article>
				<slot />
			</article>
		</div>
		<aside id="grid-right">
			<nav aria-labelledby="grid-right"><span>Aside navigation in grid-right</span></nav>
		</aside>
	</main>